#map {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    grid-column: 1;
}

html,
body {
    height: 100%;
    width: 100vw;
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body {
    font-family: 'Poiret One', cursive;
}

.heading {
    font-size: 40px;
    letter-spacing: 1px;
}

main {
    background: url('https://images.pexels.com/photos/745241/pexels-photo-745241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-top: 0px;
    grid-column: 2;
}

header {
    background-color: rgba(22, 120, 255, 1);
    border: 3px solid rgba(34, 244, 255, 1);
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    grid-column: 1 / 3;
}

.displayResults {
    display: inline-block;
}

header h1 {
    text-align: center;
    color: white;
    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: east-out;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.shelter-list-item {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    color: #0F499C;
}

.shelter-list-item h3 {
    letter-spacing: 2px;
    font-weight: 400;
}

h2 {
    margin-top: 0px;
    padding-top: 20px;
    font-size: 40px;
    text-shadow: 0px 4px 3px rgba(34, 244, 255, 0.4), 0px 8px 13px rgba(34, 244, 255, 0.1), 0px 18px 23px rgba(34, 244, 255, 0.1);
}

h3 p {
    margin-top: 5px;
}

.fa-paw {
    margin: 10px;
    color: rgba(34, 244, 255, 1);
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    font-size: 30px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes myanimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

input {
    outline: 4px dotted rgba(20, 165, 232);
    font-size: 15px;
    color: #1678FF;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    border: none;
    padding: 5px;
}

button {
    margin-left: 5px;
    padding: 5px;
    border-radius: 2px;
    outline: none;
    background: #22F4FF;
    color: #1678FF;
    transition: all 0.3s ease;
    width: 50px;
    font-size: 15px;
    position: relative;
}

button:hover {
    cursor: pointer;
    background: #1678FF;
    color: #22F4FF;
    border: 1px solid #22F4FF;
    transform: scale(0.9);
    border-radius: 4px;
}

button:active {
    top: 1px;
}

input::placeholder {
    color: lightpink;
}

.content {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    height: 100vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content:first-child {
    background-color: rgba(255, 255, 255, 0.5);
}

.shelter-list-item:nth-child(even) {
    background-color: rgba(20, 232, 184, 0.6);
    border: 2px solid #1678FF;
}

.shelter-list-item:nth-child(odd) {
    background: rgba(22, 255, 236, 0.6);
    border: 2px solid #1678FF;
}

.invalid p {
    color: red;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.invalid-input {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* Media queries */

@media only screen and (min-width: 768px) {
    #map {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        grid-column: 1;
    }
    html,
    body {
        height: 100%;
        width: 100vw;
        text-align: center;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main {
        background: url('https://images.pexels.com/photos/745241/pexels-photo-745241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        margin-top: 0px;
        grid-column: 2;
    }
    header {
        background-color: rgba(22, 120, 255, 1);
        border: 3px solid rgba(34, 244, 255, 1);
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
        grid-column: 1 / 3;
    }
}