#map {
    width: 1000px;
    height: 600px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    text-align: center;
}